@import './variables.scss';

:export { lightOrange: $light-orange }

.buttonPanel {
  display: flex;
  flex-direction: column;

  &>* {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    height: 100px;
  }

  .groupOne:nth-child(2) {
    background-color: $light-orange;
  }
}
